/*----- RESET -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
}

body {
  background-image: url('images/backgrounds/warty-final-ubuntu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #131313;
  padding: 0 1em;
}

.taskbar .app-switcher-btn {
  height: 30px;
  width: 60px;
}

.taskbar .app-switcher-btn .minus-sign {
  height: 9px;
  width: 80%;
  border-radius: 50px;
  background-color: #fff;
}

.taskbar .quick-settings-btn {
  gap: 1em;
}

.taskbar-btn {
  padding: 0.25em 0.5em;
  font-size: 1.1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-size: 1.1rem;
}

.taskbar-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}

.desktop {
}

.app-dock {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #666;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
}

.app-dock nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.app-container:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.app-dock img {
  height: 46px;
}

.app-dock img:hover {
  cursor: pointer;
}

.ubuntu-logo {
  transform: scale(0.9);
}

.copyright {
  color: #131313;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
