/*----- RESET -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
}

body {
  background-image: url('images/backgrounds/warty-final-ubuntu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}


.copyright {
  color: rgba(255, 255, 255, 0.25);
  position: absolute;
  bottom: 100px;
}
